<!DOCTYPE html>
{% extends 'WebsiteConfig/gameBase.html' %}

{% load static %}

{% block title %} Game {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "Game/CSS/game.css" %}">
    <link rel="stylesheet" href="{% static "Game/CSS/gameSkills.css" %}">
{% endblock %}

{% block 'background-in-html' %}
    style = "background-image: url('{% static  backgroundPath %}')"
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container game-container">
        <div class="row row-cards">
          <div class="col cards cards-left">
            {% include "Game/cardTemplate.html" with side=leftSide %}
          </div>
          <div class="col cards cards-right">
            {% include "Game/cardTemplate.html" with side=rightSide %}
          </div>
        </div>

        <div class = "row skills">
            {% include "Game/skillTemplate.html" %}
        </div>
      </div>
            
{% endblock %}

{% block scripts %}
    <script src="{% static 'Game/JS/ajax.js' %}" type="module"></script>
    <script src="{% static 'Game/JS/game.js' %}" type="module"></script>
    <script src="{% static 'Game/JS/effect.js' %}" type="module"></script>
    <script src="{% static 'Game/JS/screenControl.js' %}" type="module"></script>
{% endblock %}