<!DOCTYPE html>
{% extends 'WebsiteConfig/gameBase.html' %}

{% load static %}

{% block title %} Game {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "Game/CSS/game.css" %}">
{% endblock %}

{% block 'background-in-html' %}
    style = "background-image: url('{% static  backgroundPath %}')"
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row row-cards">
          <div class="col cards cards-left">
                {% if leftSide|length == 4 %}
                    <div class = "container">
                        <div class="row">
                            <div class="col">
                                <button value={{ leftSide.0.name }} type="submit">
                                    <img src="{% static  leftSide.0.path %}">
                                </button>
                            </div>
                            <div class="col">
                                <button value={{ leftSide.2.name }} type="submit">
                                    <img src="{% static  leftSide.2.path %}">
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button value={{ leftSide.1.name }} type="submit">
                                    <img src="{% static  leftSide.1.path %}">
                                </button>
                            </div>
                            <div class="col">
                                <button value={{ leftSide.3.name }} type="submit">
                                    <img src="{% static  leftSide.3.path %}">
                                </button>
                            </div>
                        </div>
                    </div>
              {%  endif %}
          </div>
          <div class="col cards cards-right">
            {% if rightSide|length == 4 %}
                    <div class = "container">
                        <div class="row">
                            <div class="col">
                                <button value={{ rightSide.0.name }} type="submit">
                                    <img src="{% static  rightSide.0.path %}">
                                </button>
                            </div>
                            <div class="col">
                                <button value={{ rightSide.2.name }} type="submit">
                                    <img src="{% static  rightSide.2.path %}">
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button value={{ rightSide.1.name }} type="submit">
                                    <img src="{% static  rightSide.1.path %}">
                                </button>
                            </div>
                            <div class="col">
                                <button value={{ rightSide.3.name }} type="submit">
                                    <img src="{% static  rightSide.3.path %}">
                                </button>
                            </div>
                        </div>
                    </div>
              {%  endif %}
          </div>
        </div>

        <div class = "row skills">
            <div class = "col">
                <button value="" type="submit">
                    <img class="skill" hidden src="">
                </button>
            </div class = "col">
            <div class = "col">
                <button value="" type="submit">
                    <img class="skill" hidden src="">
                </button>
            </div class = "col">
            <div class = "col">
                <button value="" type="submit">
                    <img class="skill" hidden src="">
                </button>
            </div class = "col">
        </div>
      </div>
            
{% endblock %}

{% block scripts %}
    <script src="{% static 'Game/JS/ajax.js' %}" type="module"></script>
    <script src="{% static 'Game/JS/game.js' %}" type="module"></script>
    <script src="{% static 'Game/JS/screenControl.js' %}" type="module"></script>
{% endblock %}