<!DOCTYPE html>
{% extends 'Website/gameBase.html' %}

{% load static %}

{% block title %} Clash Warcraft {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "Game/CSS/initialScreen.css" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}

    <h1> Clash Warcraft </h1>

    <div class="container">
        <h3> Press any key to continue </h3>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "Game/JS/initialScreen.js" %}"></script>
{% endblock %}