<!DOCTYPE html>
{% extends 'Website/gameBase.html' %}

{% load static %}

{% block title %} Choose Mode {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "Game/CSS/modeSelect.css" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}

    <h1> Choose Game Mode </h1>

    <div class="container">
        <div class="container">
            <div class="row">
                {% for type in types %}
                    <div class="col">
                        <div class="card">
                            <button value={{ type.value }} type="submit">
                                <img class="card-img-top" src="{% static type.path %}">
                            </button>    
                            <div class="card-body">
                            <p class="card-text">{{ type.value }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "Game/JS/modeSelect.js" %}"></script>
{% endblock %}