button {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    padding: 0;
}

.bar {
    margin: 0!important;
}

.game-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: groove;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 0.1rem 5rem 0.1rem 5rem;
    margin-top: 0.3rem;
    min-height: 39.12rem;
}

.col {
    max-width: fit-content;
    max-height: fit-content;
}

.row-cards {
    margin: 1rem auto 1rem auto;
    max-width: fit-content;
    max-height: fit-content;
}