.cards img {
    display: block;
    margin: 1rem auto 1rem auto;
    max-height: 15rem;
    max-width: 9.5rem;
}

.skills {
    margin: 1rem auto 1rem auto;
    max-width: fit-content;
}

.skills .col {
    max-width: fit-content;
}