button {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    padding: 0;
}

.bar {
    margin: 0!important;
}

.cards {
    margin-left: 4rem;
    margin-right: 4rem;
}

.cards img {
    display: block;
    margin: 0rem auto 0rem auto;
    max-height: 15rem;
    max-width: 9.5rem;
}

.game-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: groove;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 0.1rem 5rem 0.1rem 5rem;
    margin-top: 0.3rem;
    min-height: 39.12rem;
}

.skill-btn.active {
    box-shadow: 0rem 0.2rem 1rem 0.5rem rgba(128, 0, 128, 1);
}

.card-button.active {
    box-shadow: 0rem 0.2rem 1rem 0.5rem rgba(0, 128, 0, 1);
}

.col {
    max-width: fit-content;
    max-height: fit-content;
}

.row-cards {
    margin: 1rem auto 1rem auto;
    max-width: fit-content;
    max-height: fit-content;
}

.skills {
    margin: 0.5rem auto 0.5rem auto;
    max-width: fit-content;
}