.buttons {
    margin-top: 15%;
}

.buttons, .row {
    max-width: fit-content;
    max-height: fit-content;
}

.btn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: contrast(1.1);
    margin: 1vh 0 1vh 0;
    height: 10vh;
    width: 25vw;
}

.btn:hover {
    filter: brightness(1.1);
    
    .button-text {
        color: rgba(238, 159, 0, 1);
    }
}