.subtitle {
    font-size: 4vh;
    font-weight: 600;
}

.title {
    font-size: 9vh;
    font-weight: 800;
}

.button-faction-text {
    font-size: 3vh;
    font-weight: bold;
}

.character-name {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80%;
}