.card {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    max-width: 25rem;
    padding: 0;
    position: relative;
}

.card:hover {
    box-shadow: 0.5rem 0rem 5rem 1rem rgba(0, 0, 128, 1);
}

.card img {
    display: block;
    max-height: 25rem;
    max-width: 16rem;
}

.class-icon {
    max-height: 6rem;
    max-width: 6rem;
    top: -2rem;
    left: auto;
    position: absolute;
}

.row{
    margin-left: 5rem;
    margin-top: 3rem;
}