button {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    display: inline-block;
    margin: auto;
    position: relative;
}

h1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    text-align: center;
}

.card {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    max-width: 25rem;
}

.card img {
    display: block;
    max-height: 25rem;
    max-width: 16rem;
    margin: auto;
}

.class-icon {
    max-height: 6rem;
    max-width: 6rem;
    top: -2rem;
    left: auto;
    position: absolute;
}

.row{
    margin-left: 5rem;
    margin-top: 3rem;
}