.card {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    display: inline-block;
    filter: contrast(1.1);
    left: 50%;
    transform: translateX(-50%);
    max-width: 25vw;
    padding: 0;
    position: relative;
}

.card:hover {
    box-shadow: 0.5rem 0rem 5rem 1rem rgba(0, 0, 128, 1);
    filter: brightness(1.1) contrast(1.2);
}

.character-image {
    display: block;
    max-height: 70vh;
    max-width: 25vw;
}

.class-icon {
    max-height: 15vh;
    max-width: 10vw;
    top: -5vh;
    left: 0;
    position: absolute;
}

.row{
    margin-left: 5vw;
    margin-top: 7vh;
}