{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/campaignPageStyle.css" %}">
{% endblock %}

{% block title %} Campaign {% endblock %}

{% block content %}
    <div class="header-page">
        {% include "WebsiteContent/headerPage.html" with parameters=headerPage %}
    </div>
    <div class="campaigns-container">
        {% for campaign in campaignsData %}
            {% include "WebsiteContent/sectionPagePanel.html" with parameters=campaign %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}