{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/campaignPageStyle.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/campaignPageFontStyle.css" %}">
{% endblock %}

{% block title %} Campaign {% endblock %}

{% block content %}
    <div class="campaign-header">
        <img class="campaign-header-image" src="{% static  'Website/Image/BackgroundLore/header.png' %}">
        <div class="campaign-header-container">
            <span class="subtitle"> Embark on an Epic Journey </span>
            <span class="title"> Unraveling the History and Challenges of Azeroth </span>
            <span class="text"> Face epic challenges, unravel the intricate plot, and become part of the legendary saga that shaped the fate of the world in World of Warcraft, within an epic campaign composed of four consecutive raids. </span>
        </div>
        <div class="buttons-container">
            {% for lore in loresData %}
                <a class="goto-link" href="#lore-{{ lore.raid }}">
                    <img class="goto-image" src="{% static lore.buttonPath %}">
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="lores-container">
        {% for lore in loresData %}
            <div id="lore-{{ lore.raid }}" class="lore-container lore-{{ lore.raid }}" style = "background-image: url('{% static  lore.loreBackground %}');">
                <div class="lore-items">
                    <div class="header-lore">
                        <span class="subtitle"> {{ lore.subheading }} </span>
                        <span class="title"> {{ lore.heading }} </span>
                        <span class="text"> {{ lore.description }} </span>
                    </div>
                    <div class="image-lore">
                        <img src="{% static lore.loreImg %}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}