{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/charaterDetailsPageStyle.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/charaterDetailsPageFontStyle.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/characterDetailsPageAnimation.css" %}">
{% endblock %}

{% block title %} {{ name }} {% endblock %}
{% block 'background-in-html' %}
    style = "background-image: url('{% static  backgroundPath %}')"
{% endblock %}

{% block content %}
    <div class="container-details-character">
        <div class="container-canvas">
            <canvas class="canvas" width="1128" height="283" style="width: 1128px; height: 283.067px; left: -2px; top: -2px;"></canvas>
        </div>
        <div class="container-heading">
            <span class="sub-title"> {{ title }}</span>
            <span class="title">{{ name }}</span>
        </div>
        <div class="container-image">
            <img class="img-character" src="{% static charImagePath %}">
        </div>
        <div class="container-details">
            <div class="container-speciality">
                <ul class="speciality-list">
                    <li class="speciality-class">
                        <div class="speciality-title">Class</div>
                        <div>{{ class }}</div>
                    </li>
                    <li class="speciality-role">
                        <div class="speciality-title">Role</div>
                        <div>{{ role }}</div>
                    </li>
                </ul>
            </div>
            <div class="container-history">
                <p> {{ story }} </p>
            </div>
        </div>
    </div>

    <div class="container-spells">
        {% include "WebsiteContent/spellListCW.html" with parameters=skills %}
    </div>

    <div class="container-attributes">
        {% include "WebsiteContent/attributesListCW.html" with parameters=attributes %}
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{% static "Website/JS/characterDetailsPage.js" %}"></script>
{% endblock %}