{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/charaterDetailsPageStyle.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/charaterDetailsPageFontStyle.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/characterDetailsPageAnimation.css" %}">
{% endblock %}

{% block title %} {{ name }} {% endblock %}
{% block 'background-in-html' %}
    style = "background-image: url('{% static  backgroundPath %}')"
{% endblock %}

{% block content %}
    {% include "WebsiteContent/characterDetailsCW.html" with title=title name=name charImagePath=charImagePath class=class role=role %}

    <div class="container-spells">
        {% include "WebsiteContent/spellListCW.html" with parameters=skills %}
    </div>

    <div class="container-attributes">
        {% include "WebsiteContent/attributesListCW.html" with parameters=attributes %}
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{% static "Website/JS/characterDetailsPage.js" %}"></script>
{% endblock %}