{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/Style/characterPage.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/Typography/characterPage.css" %}">
{% endblock %}

{% block title %} Character {% endblock %}

{% block content %}
    <h1>
        <span class="subtitle">Choose Your</span>
        <span class="title">Character</span>
    </h1>
    <div class="container-faction">
        <div class="row">
            {% for faction in factions %}
                <div class="col">
                    <button class="button-faction button-{{faction.value}}" value={{ faction.value }} type="submit">
                        <img src="{% static faction.path %}">
                        <h3>
                            <span class="button-faction-text"> {{ faction.value }} </span>
                        </h3>
                    </button>         
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container-list container-Alliance-list">
        {% for allianceCharacter in allianceCharacters %}
            {% include "WebsiteContent/cardCW.html" with parameters=allianceCharacter %}
        {% endfor %}
    </div>

    <div class="container-list container-Horde-list">
        {% for hordeCharacter in hordeCharacters %}
            {% include "WebsiteContent/cardCW.html" with parameters=hordeCharacter %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "Website/JS/characterPage.js" %}"></script>
{% endblock %}