{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/gamePlayPageStyle.css" %}">
    <link rel="stylesheet" href="{% static "WebSite/CSS/gamePlayPageFontStyle.css" %}">
{% endblock %}

{% block title %} How to Play {% endblock %}

{% block content %}
    {% for tutorialStep in tutorialSteps %}
        <div class="top-block">
            <img src={% static "WebSite/Image/Tutorial/top-block.png" %}>
        </div>
        <div class="container-tutorial-step container-tutorial-step-{{ tutorialStep.stepNumber }}" style="background-image:url('{% static  tutorialStep.background %}');">
            <div class="container-tutorial-content">
                <div class="subtitle"> {{ tutorialStep.subtitle }} </div>
                <div class="title"> {{ tutorialStep.title }} </div>
                <div class="text"> {{ tutorialStep.description }} </div>
            </div>
            <div class="container-tutorial-image">
                <img src={% static tutorialStep.image %}>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    
{% endblock %}