{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "WebSite/CSS/Style/gamePlayPage.css" %}">
{% endblock %}

{% block title %} How to Play {% endblock %}

{% block content %}
    <div class="header-page">
        {% include "WebsiteContent/headerPage.html" with parameters=headerPage %}
    </div>    

    {% for sectionPagePanel in sectionPagePanels %}
        {% include "WebsiteContent/sectionPagePanel.html" with parameters=sectionPagePanel %}
    {% endfor %}
{% endblock %}