{% extends 'WebsiteConfig/contentPageBase.html' %}

{% load static %}

{% block title %} Clash Warcraft - Overview {% endblock %}

{% block headerTags %}
    <link rel="stylesheet" href="{% static "WebSite/CSS/homePageStyle.css" %}">
{% endblock %}

{% block content %}
    <div class="header-page">
        {% include "WebsiteContent/headerPage.html" with parameters=headerPage %}
    </div>    
    <div class="home-page-panels">
        {% for panel in panelsContent %}
            {% include "WebsiteContent/homePagePanel.html" with parameters=panel %}
        {% endfor %}
    </div>
{% endblock %}