<!DOCTYPE html>
{% extends 'WebsiteConfig/gameBase.html' %}

{% load static %}

{% block title %} Clash Warcraft {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "GameSettings/CSS/initialScreen.css" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <audio autoplay loop>
        <source src="{% static "Game/Sound/one.ogg" %}" type="audio/ogg">
    </audio> 

    <div class="title"> Clash Warcraft </div>

    <div class="action"> Press any key to continue </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "GameSettings/JS/initialScreen.js" %}"></script>
    <script src="{% static "GameSettings/JS/resetSettings.js" %}"></script>
{% endblock %}