<!DOCTYPE html>
{% extends 'WebsiteConfig/gameBase.html' %}

{% load static %}

{% block title %} Choose Mode {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "GameSettings/CSS/modeSelect.css" %}">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <audio autoplay loop>
        <source src="{% static "Game/Sound/one.ogg" %}" type="audio/ogg">
    </audio> 

    <div class="title"> Choose Game Mode </div>

    <div class="container">
        <div class="container">
            <div class="row">
                {% for type in types %}
                    <div class="col">
                        <div class="card">
                            <button class="clickable" value={{ type.value }} type="submit">
                                <img class="card-img-top" src="{% static type.path %}">
                            </button>    
                            <div class="card-body">
                            <div class="card-text action">{{ type.value }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "GameSettings/JS/modeSelect.js" %}"></script>
    <script src="{% static "GameSettings/JS/resetSettings.js" %}"></script>
{% endblock %}