button {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    display: inline-block;
    position: relative;
}

button:hover {
    img {
        filter: brightness(1.1);
    }
}

.card {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    max-width: 30vw;
}

.card img {
    display: block;
    filter: contrast(1.2);
    max-height: 70vh;
    max-width: 35vw;
    object-fit: contain;
    margin: auto;
}

.card-text{
    left: 50%; 
    position: absolute;
    top: 92%; 
    transform: translate(-50%, -50%); 
}

.row{
    margin-left: 5vw;
}