body {
    background-image: url("../Image/InitialScreen/background.jpg");
}

.action {
    left: 52%; 
    padding: 10px 20px; 
    position: absolute;
    top: 85%; 
    transform: translate(-50%, -50%); 
}