body {
    background-image: url("../Image/ModeSelect/background.png");
}

button {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    display: inline-block;
    position: relative;

}

.card {
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
}

.card img {
    display: block;
    height: auto;
    max-height: 30rem;
    max-width: 30rem;
    width: 100%;
}

.card-text{
    left: 45%; 
    position: absolute;
    top: 85%; 
    transform: translate(-50%, -50%); 
}