<!DOCTYPE html>

{% load static %}

<head>
    <link rel="stylesheet" href="{% static "WebSiteConfig/CSS/Style/footer.css" %}">
</head>

<footer class="text-center">
    <div class="container p-1">
      <section class="mb-2">
        <a class="btn btn-outline-warning btn-floating m-1" href="https://www.linkedin.com/in/wallasceleite/"  target="_blank" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <a class="btn btn-outline-warning btn-floating m-1" href="https://github.com/wallasce/"  target="_blank" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <section class="mb-2">
        <div class="text-center">Portfolio: Clash Warcraft Project</div>
        <div class="text-center">Developed by Wallasce Leite</div>
      </section>
    </div>
  
    <div class="text-center p-1 copyright">
        This project is non-profit and has the sole purpose of enhancing the developer's portfolio, showcasing their expertise - 2024 ©
    </div>
  </footer>