<!DOCTYPE html>
{% extends 'WebsiteConfig/gameBase.html' %}

{% load static %}

{% block title %} Choose your {{ type }} {% endblock %}

{% block headerTags%} 
    <link rel="stylesheet" href="{% static "CharacterSelect/CSS/CharacterSelect.css" %}">
{% endblock %}

{% block 'background-in-html' %}
    style = "background-image: url('{% static  backgroundPath %}')"
{% endblock %}

{% block content %}
    {% csrf_token %}

    <audio autoplay loop>
        <source src="{% static "Game/Sound/two.ogg" %}" type="audio/ogg">
    </audio> 

    <h1> Player {{ player }}, choose your {{ type }} </h1>

    <div class="container">
        <div class="row">
            {% for option in options %}
                <div class="col">
                    <button class='card' value={{ option.name }} type="submit">
                        <img class="class-icon" src="{% static option.pathClassImage %}">
                        <img src="{% static option.pathImage %}">
                    </button>    
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "CharacterSelect/JS/characterSelect.js" %}"></script>
{% endblock %}