.button {
    filter: brightness(1.1) contrast(1.1);
}

.button:hover {
    filter: brightness(1.2) contrast(1.2);
    transform: scale3d(1.05, 1.05, 1);
    transition: all .2s;
}

.cta {
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 10vh 0;
    height: 10vh;
    width: 20%;
    
    button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        height: 100%;
        padding: 5%;
        width: 100%;
    }
}

.text-d-none {
    .button-text {
        display: none;
    }
}

.sqr-button {
    background-position: center;
    background-size: contain;
    height: 20vh;
    width: 20vh;
    
    button {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        height: 100%;
        width: 100%;
    }
}