.spp-image-fs {
    .section-page-panel-images {
        filter: contrast(1.2);
        height: 99.9%;
        width: 55%;

        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

.spp-img-default {
    .section-page-panel-images {
        margin-right: 5.5%;
        max-height: 100%;
        position: relative;
        top: 0;
        width: 50%;

        img {
            left: 50%;
            max-height: 65vh;
            object-fit: contain;
            overflow: hidden;
            position: relative;
            transform: translateX(-50%);
            width: auto;
        }
    }
}

.spp-many-img-skills {
    .section-page-panel-images {
        transform: translateX(-13%);
        width: 50%;

        img {
            float: left;
            margin: 0vh 0.5vw;
        } 

        :last-child {
            position: absolute;
        }

        :last-child:hover, :first-child:hover {
            box-shadow: none;
        }
    }
}

.spp-many-img-column {
    .section-page-panel-images {
        display: flex;

        flex-direction: column;
        gap: 1vh;

        :last-child {
            width: 15vw;
        }
    }
}

.spp-img-shadow-green .section-page-panel-images img {
    box-shadow: 0rem 0.2rem 1rem 0.5rem rgba(0, 128, 0, 1);
}

.spp-img-hv-blue .section-page-panel-images img:hover {
    box-shadow: 0rem 0.2rem 1rem 0.5rem rgba(0, 0, 128, 1);
}

.pre-section-panel {
    position: relative;
    top: -0.3%;

    img {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

.section-page-panel-container {
    box-shadow: inset 0 0.1rem 0 0 rgba(255, 255, 255, 0.3), inset 0 -0.1rem 0 0 rgba(255, 255, 255, 0.3);
    height: 100vh;
    margin-bottom: 0.5%;
    padding: 0.4vh 0 0.4vh 0;
}

.section-page-panel-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    margin: 0 0 0 5.5%;
}

.section-page-panel-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 40%;
}

.section-page-panel-header .section-page-panel-title {
    margin-bottom: 5%;
}

.section-page-panel-images img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}