{% load static %}

<html>
    <body>
        <span class="title attributes-header"> Attributes </span>
        <div class="class-icon">
            <img src="{% static classIconPath %}">
        </div>
        <div class="attributes-list"> 
            {% for attribute in parameters %}
                <div class="attribute-container">
                    {% with 'Website/Image/AttributeIcons/'|add:attribute.name|add:'.png' as iconPath %}
                        <img src="{% static iconPath %}">
                    {% endwith %}
                    <div class="attribute-details">
                        <div class="attribute-title"> {{ attribute.name }} </div>
                        <div> {{ attribute.value }} </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>