{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "WebsiteContent/CSS/Style/button.css" %}">
        <link rel="stylesheet" href="{% static "WebsiteContent/CSS/Typography/button.css" %}">
    </head>
    <body>
        <div class="header-page-container header-page-{{ parameters.style }}" style="background-image:url('{{ parameters.background.image.url }}');">
            <div class="header-page-content">
                {% if parameters.imageContent %}
                    <div class="header-page-image">
                        <img src="{{ parameters.imageContent.image.url }}">
                    </div>
                {% endif %}

                <div class="header-page-subtitle"> {{ parameters.subtitle }} </div>
                <div class="header-page-title"> {{ parameters.title }} </div>
    
                {% if parameters.description %}
                    <div class="header-page-description"> {{ parameters.description }} </div>
                {% endif %}
    
                {% if parameters.buttons %}
                    <div class="header-page-buttons">
                        {% for button in parameters.buttons.all %}
                            {% include "WebsiteContent/button.html" with parameters=button %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>