{% load static %}

<html>
    <body>
        <div class="home-page-panel">
            <a class="panel-link" href="{{ parameters.link }}">
                <div class="panel-img">
                    {% if parameters.imageManager.image.url %}
                        <img src="{{ parameters.imageManager.image.url }}">
                    {% endif %}
                </div>
                <div class="panel-content">
                    <div class="panel-subtitle"> {{ parameters.subtitle }} </div>
                    <div class="panel-title"> {{ parameters.title }} </div>
                    <div class="panel-description"> {{ parameters.description }} </div>
                </div>
            </a>
        </div>
    </body>
</html>