<html>
    <body>
        <div class="section-page-panel-container {{ parameters.style }}" style="background-image:url('{{ parameters.backgroundSectionPage.image.url }}');">
            <div class="section-page-panel-content">
                <div class="section-page-panel-header">
                    <span class="section-page-panel-subtitle"> {{ parameters.subtitle }} </span>
                    <span class="section-page-panel-title"> {{ parameters.title }} </span>
                    <span class="section-page-panel-description"> {{ parameters.description }} </span>
                </div>
                <div class="section-page-panel-image">
                        <img src="{{ parameters.imageSectionPage.image.url }}">
                </div>
            </div>
        </div>
    </body>
</html>