<html>
    <body>
        <div id="{{ parameters.sectionID }}" class="section-page-panel-container {{ parameters.style }}" style="background-image:url('{{ parameters.backgroundSectionPage.image.url }}');">
            {% if parameters.preSectionPanel %}
                <div class="pre-section-panel">
                    <img src={{parameters.preSectionPanel.image.url}}>
                </div>
            {% endif %}
            <div class="section-page-panel-content">
                <div class="section-page-panel-header">
                    <span class="section-page-panel-subtitle"> {{ parameters.subtitle }} </span>
                    <span class="section-page-panel-title"> {{ parameters.title }} </span>
                    <span class="section-page-panel-description"> {{ parameters.description }} </span>
                </div>
                <div class="section-page-panel-images">
                        {% for imageSectionPage in parameters.imagesSectionPage.all %}
                            <img src="{{ imageSectionPage.image.url }}">
                        {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>