.content {
    margin: 0!important;
}

.campaign-header-image {
    display: inline-block;
    position: relative;
}

.campaign-header-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 20%;
    width: 80%;
}

.buttons-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 25% 0 25%;
    position: absolute;
    top: 95%;
    transform: translateY(-100%);
    width: 50%;
}

.goto-link {
    filter: brightness(0.9);
    left: 0;
    width: 100%;
}

.goto-link:hover {
    filter: brightness(1.3);
    filter: contrast(1.2);
    transform: scale3d(1.05, 1.05, 1);
    transition: all .2s;
}

.goto-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.lore-container, .campaign-header {
    box-shadow: inset -1vw 0 0 0.3vh rgba(255, 255, 255, 0.3);
    height: 100vh;
    margin-bottom: 0.5%;
    padding: 0.4vh 0 0.4vh 0;
}

.lore-items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    margin: 0 0 0 5.5%;
}

.header-lore {
    height: fit-content;
    width: 40%;
}

.header-lore .title {
    margin-bottom: 10%;
}

.header-lore .subtitle {
    margin-bottom: 5%;
}

.image-lore {
    filter: contrast(1.2);
    height: 99.9%;
    width: 55%;
}

.image-lore img, .campaign-header-image{
    height: 100%;
    object-fit: cover;
    width: 100%;
}