.title {
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
}

.subtitle {
    color: rgba(227, 164, 33, 1);
}

.text {
    color: rgba(255, 255, 255, 0.7);
}

.campaign-header-container{
    .title {
        font-size: 12.5vh;
    }
    
    .subtitle {
        font-size: 3.8vh;
    }
    
    .text {
        color: rgba(255, 255, 255, 1);
        font-size: 2.4vh;
        width: 80%;
    }
    
    text-align: center;
    text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 1);
} 

.header-lore {
    .title {
        font-size: 6vh;
    }
    
    .subtitle {
        font-size: 3.5vh;
    }
    
    .text{
        font-size: 2.4vh;
    }
} 