.spells-header, .attributes-header {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    font-size: 8.7vh;
    letter-spacing: 0.25vw;
}