.container-heading {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

.title {
    font-size: 5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 0.85;
}

.sub-title {
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 600;
}

.speciality-list {
    color: rgba(255, 255, 255, 1);
    font-size: 0.625rem;
    letter-spacing: 0.15em;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
}

.speciality-title {
    color: rgba(227, 164, 33, 1);
}

.container-history p, .spell {
    color: rgba(255, 255, 255, 1);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.28571;
    letter-spacing: 0.08em;
}


.spells-header, .attributes-header {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    font-size: 3.75rem;
    letter-spacing: 0.05em;
}

.spell-name {
    color: rgba(227, 164, 33, 1);
    font-weight: 600;
    font-size: 1.44rem;
}

.cooldown-header {
    color: rgba(227, 164, 33, 1);
}

.cooldown-info {
    font-size: 0.725rem;
}

.attribute-details {
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    letter-spacing: 0.15em;
    line-height: 1.15;
    text-align: center;
    text-transform: capitalize;
    
    .attribute-title {
        color: rgba(227, 164, 33, 1);
    }
}