body {
    background-repeat: no-repeat;
    background-size: contain;
}

img {
    filter: contrast(1.2) brightness(1.1);
}

.container-details-character {
    height: 100vh;
    margin-top: 10rem;
    position: relative;
    width: 83vw;
}

.container-canvas {
    position: absolute;
}

.canvas {
    position: absolute;
    display: block;
}

.container-heading {
    position: relative;
    top: -9%;
}

.title {
    display: block;
    margin: 0 auto 0 auto;
    position: relative;
    width: fit-content;
}

.sub-title {
    display: block;
}

.container-image {
    position: relative;
    left: 100%;
    max-height: 70vh;
    max-width: 25%;
    overflow: hidden;
    top: -30%;
    transform: translateX(-50%);
}

.img-character {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container-details {
    display: flex;
    height: fit-content;
    position: absolute;
    top: 0%;
    width: 80%;
}

.container-speciality {
    display: flex;
    align-items: center;
    height: 45vh;
    width: 25%;
}

.speciality-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}

.speciality-list li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-history{
    align-items: center;
    display: flex;
    width: 75%;
}

.container-history p {
    margin-bottom: 0;
}

.container-spells, .container-attributes {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 83vw;
}

.spells-header, .attributes-header {
    width: 100%;
}

.spells-header {
    margin-bottom: 1%;
}

.spells-list {
    display: flex;
    gap: 1%;
    margin-bottom: 2%;
    width: 100%;
}

.spell {
    background-color: rgba(0, 0, 0, 1);
    border: 0.1rem solid rgba(80, 65, 55, 1);
    padding: 2.7vh;
    width: 100%;
}

.spell-head {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.spell-name {
    margin-left: 5%;
}

.cooldown-info {
    margin-bottom: 3%;
}

.attributes-header {
    margin-bottom: -5%;
}

.class-icon {
    height: 20vh;
    left: 50%;
    margin-bottom: -9vh;
    position: relative;
    transform: translateX(-50%);
    width: fit-content;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.attributes-list {
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    border: 0.1rem solid rgba(80, 65, 55, 1);
    gap: 5vw;
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    justify-content: center;
    width: 100%;
}

.attribute-container {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 9vh 0;
    width: 20vw;

    img {
        max-height: 12vh;
        margin-right: 1vw;
    }
}

.attributes-list::after, .attributes-list::before {
    background: linear-gradient(to bottom, transparent 0%, #4a5150 65%, transparent 100%);
    content: " ";
    height: 70%;
    position: relative;
    width: 1px;
}

.attributes-list::before {
    left: 27.5vw;
}

.attributes-list::after {
    left: -27.5vw;
}