.container-heading {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03vw;
    text-align: center;
    text-transform: uppercase;
}

.title {
    font-size: 12.5vh;
    font-style: italic;
    font-weight: 800;
    line-height: 0.85;
}

.sub-title {
    line-height: 1;
    font-size: 4vh;
    font-weight: 600;
}

.speciality-list {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5vh;
    letter-spacing: 0.10vw;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
}

.speciality-title {
    color: rgba(238, 159, 0, 1);
}

.container-history p, .spell {
    color: rgba(255, 255, 255, 1);
    font-size: 2.2vh;
    font-weight: 500;
    line-height: 1.28571;
    letter-spacing: 0.08vw;
}


.spells-header, .attributes-header {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    font-size: 8.7vh;
    letter-spacing: 0.25vw;
}

.spell-name {
    color: rgba(238, 159, 0, 1);
    font-weight: 600;
    font-size: 3.7vh;
}

.cooldown-header {
    color: rgba(238, 159, 0, 1);
}

.cooldown-info {
    font-size: 1.9vh;
}

.attribute-details {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5vh;
    letter-spacing: 0.15vw;
    line-height: 1.15;
    text-align: center;
    text-transform: capitalize;
    
    .attribute-title {
        color: rgba(238, 159, 0, 1);
    }
}