.title {
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    font-size: 6vh;
}

.subtitle {
    color: rgba(227, 164, 33, 1);
    font-size: 3.5vh;
}

.text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.4vh;
}

.container-game-play-content {
    .title {
        font-size: 12.5vh;
    }
    
    .subtitle {
        font-size: 3.8vh;
    }
    
    text-align: center;
    text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 1);
}

