body {
    background-size: cover;
    cursor: url("../../Image/Cursor/cursorDefault.cur"),auto;
}

.content {
    height: 100vh;
    width: 100vw;
}

.clickable:hover {
    cursor: url("../../Image/Cursor/cursorPointer.cur"),auto;
}

.title{
    width: 100%;
}