.content {
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 600;
}

h1 {
    color: rgba(238, 159, 0, 1);
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: rgba(255, 255, 255, 1);
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle {
    display: block;
    line-height: 1;
    letter-spacing: 0.1em;
}

.title {
    display: block;
    font-style: italic;
    line-height: 0.85;
    letter-spacing: 0.03em;
}