.title, .action {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 1);
}

.title {
    color: rgba(255, 255, 255, 1);
    font-size: 12.5vh;
    font-style: italic;;
    font-weight: 700;
    line-height: 0.85;
    letter-spacing: 0.03em;
}

.action {
    color: rgba(238, 159, 0, 1);
    font-size: 5vh;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}