body {
    background-repeat: no-repeat;
    background-size: contain;
}

img {
    filter: contrast(1.2) brightness(1.1);
}

.container-spells, .container-attributes {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 83vw;
}