.content {
    margin: 0!important;
}

.header-page {
    margin-bottom: 5vh;
    height: 100vh;
    width: 100%;
}

.home-page-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5%;
    row-gap: 10px;
    width: 100%;
}