.content {
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 600;
}

.title {
    color: rgba(227, 164, 33, 1);
    display: block;
    font-style: italic;
    line-height: 0.85;
    letter-spacing: 0.03em;
}

.subtitle {
    color: rgba(255, 255, 255, 1);
    display: block;
    line-height: 1;
    letter-spacing: 0.1em;
}
